<html ng-app="pixnetApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <title>Pixnet new article</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/editor.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>

        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
        <link href="css/editor.css" type="text/css" rel="stylesheet"/>

        <script type="text/javascript">
            $(document).ready( function() {
                
             $("#body").Editor();   

             $("#group_buying_description").Editor();                     
             
            });
        </script>
    </head>
    <body ng-controller="NewArticleCtrl">
        <div class="container-fluid" style="background-image: url('halftone.png');">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <form role="form" ng-submit="submit()">
                    <div class="form-group">
                         
                        <label for="public_at">
                            Publish Date
                        </label>
                        <input class="form-control" id="public_at" type="text">
                        <button type="button" class="btn btn-default" onclick="currentTime()">
							Current Time
						</button>
						<script type="text/javascript">
				            $(function () {
				                $('#public_at').datetimepicker({
				                	format: "YYYY-MM-DD HH:mm:ss"
				                });
				            });
				            var currentTime = function(){
				            	var current = moment().format("YYYY-MM-DD HH:mm:ss");
				            	$('#public_at').val(current);
				            }
				        </script>
                    </div>
                    <div class="form-group">
                         
                        <label for="title">
                            Subject
                        </label>
                        <input class="form-control" id="title" type="text">
                    </div>

					<div class="form-group">
						<label for="body">Group Buying description:</label>
						<textarea class="form-control" id="body"></textarea>
					</div>

                    <!--
                    <div class="form-group">
                         
                        <label for="cover">
                            Article Address
                        </label>
                        <input class="form-control" id="cover" type="text">
                    </div>
                    -->
                    <!-- https://emma.pixnet.cc/blog/suggested_tags -->
                    <div class="form-group">
                         
                        <label for="tags">
                            Article Tag
                        </label>
                        <input class="form-control" id="tags" type="text">
                    </div>
                    <div class="panel-group" id="panel-374693">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-374693" href="#panel-element-968436">Article Category</a>
							</div>
							<div id="panel-element-968436" class="panel-collapse collapse">
								<div class="panel-body">
									<!-- https://developer.pixnet.pro/#!/doc/pixnetApi/blogCategories -->
				                    <div class="form-group">
				                         
				                        <label for="category_id">
				                            Personal Category
				                        </label>
									    <select class="dropdown form-control" id="category_id" ng-model="category_id">
									    	<option ng-repeat="item in personal_categories" ng-value="item.id" ng-bind="item.name">1</option>
									    	
									    	<!-- <option ng-repeat="single in item.child_categories" ng-value="single.id" ng-bind="single.name" ng-show="single.type === 'category'"></option> -->
									    </select>
				                    </div>

				                    <div class="form-group" ng-if="personal_child_categories.length > 0">
									    <select class="dropdown form-control" id="child_category_id">
									    	<option ng-repeat="item in personal_child_categories" ng-value="item.id" ng-bind="item.name">1</option>
									    	
									    	<!-- <option ng-repeat="single in item.child_categories" ng-value="single.id" ng-bind="single.name" ng-show="single.type === 'category'"></option> -->
									    </select>
				                    </div>

				                    <!-- https://emma.pixnet.cc/blog/site_categories/blog -->
				                    <div class="form-group">
				                         
				                        <label for="site_category_id">
				                            Site Category
				                        </label>
									    <select class="dropdown form-control" id="site_category_id">
									      	<option ng-repeat="item in site_categories" ng-value="item.id" ng-bind="item.name">1</option>
									    </select>
				                    </div>
								</div>
							</div>
						</div>
					</div>
                    <div class="form-group">
                         
                        <label for="status">
                            View Permissions
                        </label>
						<select class="dropdown form-control" id="status" ng-model="status_id">
							<option ng-repeat="item in status" ng-bind="item.name" ng-value="item.id">1</option>
						</select>
                    </div>
                    <div class="form-group" ng-if="status_id == 3">
                         
                        <label for="password">
                            Password
                        </label>
                        <input class="form-control" id="password" type="text">
                    </div>
                    <div class="form-group" ng-if="status_id == 3">
                         
                        <label for="password_hint">
                            Password Hine
                        </label>
                        <input class="form-control" id="password_hint" type="text">
                    </div>
                    <div class="form-group" ng-if="status_id == 5">
                         
                        <label for="friend_group_ids">
                            Specific Groups of Friends
                        </label>
                        <div class="input-group">
					      	<label class="radio-inline">
					      		<input type="radio" name="friend_group" ng-model="is_specific_groups_of_friends" ng-value="true" checked>All friends
					      	</label>
					      	<label class="radio-inline">
					      		<input type="radio" name="friend_group" ng-model="is_specific_groups_of_friends" ng-value="true">Specific Groups of Friends
					      	</label>
						</div>
						<div ng-if="is_specific_groups_of_friends">
                        	<div class="input-group">
								<div class="checkbox" ng-repeat="item in specific_groups_of_friends">
								  <label>
								    <input type="checkbox" value="item.id">
								    <span ng-bind="item.name"></span>
								  </label>
								</div>
							</div>
						</div>
                    </div>
                    <div class="panel-group" id="panel-374694">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-374694" href="#panel-element-968437">Comment Settings</a>
							</div>
							<div id="panel-element-968437" class="panel-collapse collapse">
								<div class="panel-body">
				                    <div class="form-group">
				                         
				                        <label for="comment_perm">
				                            Commenting
				                        </label>
										<select class="dropdown form-control" id="comment_perm">
											<option ng-repeat="item in commenting" ng-bind="item.name" ng-value="item.id">1</option>
										</select>
				                    </div>
				                    <div class="form-group">
				                         
				                        <label for="comment_hidden">
				                            Default Comment Status
				                        </label>
										<select class="dropdown form-control" id="comment_hidden">
											<option ng-repeat="item in comment_hidden" ng-bind="item.name" ng-value="item.id">1</option>
										</select>
				                    </div>
								</div>
							</div>
						</div>
					</div>
                    <div class="panel-group" id="panel-374695">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-374695" href="#panel-element-968438">Sync To ...</a>
							</div>
							<div id="panel-element-968438" class="panel-collapse collapse">
								<div class="panel-body">
				                    <div class="form-group">
				                         
				                        <label for="notify_twitter">
				                            Synchronize to twitter
				                        </label>
				                        <input type="hidden" class="form-control" id="notify_twitter" type="text" hidden>
				                        <img src="http://panel.pixfs.net/images/twitter-connect.png">
				                    </div>
				                    <div class="form-group">
				                         
				                        <label for="notify_facebook">
				                            Synchronize to facebook
				                        </label>
				                        <input type="hidden" class="form-control" id="notify_facebook" type="text" hidden>
				                        <img src="http://panel.pixfs.net/images/facebook-connect.png">
				                    </div>
				                    <div class="form-group">
				                         
				                        <label for="notify_plurk">
				                            Synchronize to plurk
				                        </label>
				                        <input type="hidden" class="form-control" id="notify_plurk" type="text" hidden>
				                        <img src="http://panel.pixfs.net/images/plurk-connect.png">
				                    </div>
								</div>
							</div>
						</div>
					</div>


                    <div class="panel-group" id="panel-374696">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-374696" href="#panel-element-968439">Group Buying</a>
							</div>
							<div id="panel-element-968439" class="panel-collapse collapse">
								<div class="panel-body">
				                    <div class="form-group">
				                         
				                        <label for="group_buying_category_id">
				                            Group Buying Category
				                        </label>
									    <select class="dropdown form-control" id="group_buying_category_id" ng-model="group_buying_category">
									      <option ng-repeat="item in group_buying_categories track by $index" ng-bind="item.category" ng-value="$index">1</option>
									    </select>
				                    </div>
				                    <div class="form-group" ng-if="group_buying_category">
				                         
				                        <label for="product_id">
				                            Product
				                        </label>
									    <select class="dropdown form-control" id="product_id">
									      <option ng-repeat="item in product" ng-bind="item" ng-value="item">1</option>
									    </select>
				                    </div>

									<div class="form-group">
									  <label for="group_buying_description">Group Buying description:</label>
									  <textarea class="form-control" rows="5" id="group_buying_description"></textarea>
									</div>

				                    <div class="form-group">
					                    <label for="group_buying_image">
				                            Image
				                        </label>
				                        <input id="group_buying_image" type="file">
				                    </div>
								</div>
							</div>
						</div>
					</div>

                    <!-- <div class="form-group">
                         
                        <label for="exampleInputFile">
                            File input
                        </label>
                        <input id="exampleInputFile" type="file">
                        <p class="help-block">
                            Example block-level help text here.
                        </p>
                    </div>
                    <div class="checkbox">
                         
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div> -->
                    <button type="submit" class="btn btn-default">
                        Submit
                    </button>
                </form>
            </div>
            
            <div class="col-md-2"></div>
        </div>
        <div class="container-fluid footer" style="background-image: url('halftone.png');">
          <p class="pull-right">&copy;  <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
        </div>
    </body>
</html>

<!--
use_nl2br
thumb
trackback
password
password_hint
friend_group_ids

-->